@import './../../assets/styles/abstracts/_variables-colors.scss';
@import './../../assets/styles/abstracts/_variables-numbers.scss';

.button {
    padding: $space8 $space32;
    font-size: $font16;
    background: $blue;
    border: 0;
    border-radius: $radiusLight;
    color: #fff;
    min-width: 140px;
    cursor: pointer;

    &:hover {
        background: $blueHover;
    }
}