@import './../../assets/styles/abstracts/_variables-colors.scss';
@import './../../assets/styles/abstracts/_variables-numbers.scss';

.breadcrumb {
    &__text {
        font-size: $font14;
        color: $lightgray;
        margin: $space16 $space0;

        strong {
            text-decoration: underline;
        }
    }
}