@import './../../assets/styles/abstracts/_variables-colors.scss';
@import './../../assets/styles/abstracts/_variables-numbers.scss';

.product {
    display: flex;

    &__image {
        width: 180px;
        height: 180px;
        margin-right: $space16;
        border-radius: $radiusLight;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    &__infos {
        margin-top: $space16;
        flex-basis: 75%;

        &__price {
            margin-bottom: $space32;
            font-size: $font24;
            color: $black;
        }
        &__description {
            font-size: $font18;
        }
    }
    &__location {
        font-size: $font12;
        flex-basis: 120px;
        margin-top: $space32;
    }
}