@import './../../assets/styles/abstracts/_variables-colors.scss';
@import './../../assets/styles/abstracts/_variables-numbers.scss';

.search {
    &__products {
        > * {
            border-bottom: 1px solid $white;
            padding: $space16 $space0;
        }
    }
}