@import './../../assets/styles/abstracts/_variables-colors.scss';
@import './../../assets/styles/abstracts/_variables-numbers.scss';

.header {
    background: $yellow;
    padding: $space8 0;
    display: flex;
    justify-content: center;

    &__container {
        display: flex;
        align-items: center;

        > div {
            margin-right: $space16;
            width: 53px;
            height: 36px;
        }
    }
}

.search-bar {
    display: flex;
    flex-basis: 100%;

    &__field {
        border: 0;
        padding: $space8;
        width: 100%;
    }
    &__btn {
        border: 0;
        background: #EEEEEE;
        padding: $space8;
        cursor: pointer;

        img {
            width: 14px;
            height: 14px;
        }
    }
}