/* Numbers Variables */

//used in: padding, margin
$space0: 0;
$space8: 16px;
$space16: 16px;
$space32: 32px;

//used in: font
$font12: 12px;
$font14: 14px;
$font16: 16px;
$font18: 18px;
$font24: 24px;
$font28: 28px;

//used in: radius
$radiusLight: 4px;
$radiusPrimary: 8px;

//used in: transition
$timeDefault: .3s;
