@import './abstracts/_variables-colors.scss';
@import './abstracts/_variables-numbers.scss';
@import './base/_reset.scss';
@import './base/_typography.scss';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  background-color: $white;
  color: $black;
  margin-bottom: $space32;
}

a, a:hover {
  text-decoration: none;
}

/* container */
.container {
  width: 95%;
  margin: 0 auto;

  @media screen and (min-width: 1150px) {
    width: 1100px;
  }
}