@import './../../assets/styles/abstracts/_variables-colors.scss';
@import './../../assets/styles/abstracts/_variables-numbers.scss';

.details {
    &__container {
        display: flex;
        padding: $space32 0;

        @media only screen and (max-width: 800px) {
            flex-direction: column;
        }

        &__main {
            flex-basis: 680px;
            margin-right: $space32;
        }
    }
}

.main {
    margin-left: $space32;

    &__img {
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: center;

        img {
            width: auto;
            height: 100%;
        }
    }
    &__title {
        font-size: $font28;
        margin-bottom: $space32;
        margin-top: 64px;
        color: $lightgray;
    }
    &__description {
        font-size: $space16;
        line-height: 20px;
    }
}

.product-info {

    @media only screen and (max-width: 800px) {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    &__state {
        font-size: $font14;
        margin-top: $space32;
        color: $gray;
    }
    &__title {
        font-size: $font24;
        margin-top: $space16;
        color: $gray;
    }
    &__price {
        font-size: 46px;
        margin: $space32 0;
        color: $gray;
    }

    .button {
        margin-right: $space32;
    }
}

.container-internal {
    margin-top: $space32;
}